@config "../../../tailwind.config.js";
@import "tailwindcss";
@plugin "@tailwindcss/forms";

@layer base {
  :root {
    --margin-x: 1rem;
    --main-sidebar-width: 4rem;
    --sidebar-panel-width: 14rem;
    --color-primary-focus: theme(colors.primary.focus);
    --color-primary-light: theme(colors.primary.light);
    --color-navy-50: theme(colors.navy.50);
    --color-navy-200: theme(colors.navy.200);
    --color-navy-700: theme(colors.navy.700);
    --font-sans: theme(fontFamily.sans);
    --radius-lg: 0.5rem;
    --tracking-wide: 0.025em;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (min-width: 48rem) {
    :root {
      --margin-x: 1.5rem;
    }
  }

  html,
  body {
    height: 100%;
  }

  body {
    background-color: #f8fafc;
    color: #334155;
    font-family: var(--font-sans);
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .workless-main-sidebar {
    translate: -100% 0;
    transition: translate 200ms cubic-bezier(0.4, 0, 1, 1);
  }

  #lineone-sidebar-toggle:checked ~ .workless-main-sidebar {
    translate: 0 0;
  }

  .workless-sidebar-panel {
    translate: -100% 0;
    box-shadow: 0 3px 10px 0 rgb(48 46 56 / 0.06);
    transition: translate 250ms cubic-bezier(0.4, 0, 1, 1) 150ms;
  }

  #lineone-sidebar-toggle:checked ~ .workless-sidebar-panel {
    translate: 0 0;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  .workless-header {
    width: 100%;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .workless-header-container {
    transition: padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .workless-main-content {
    transition:
      width 250ms cubic-bezier(0.4, 0, 1, 1),
      margin-left 250ms cubic-bezier(0.4, 0, 1, 1),
      margin-right 250ms cubic-bezier(0.4, 0, 1, 1),
      padding-left 250ms cubic-bezier(0.4, 0, 1, 1),
      padding-right 250ms cubic-bezier(0.4, 0, 1, 1);
  }

  .workless-main-container {
    transition: padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .workless-menu-toggle span {
    display: block;
    height: 2px;
    width: 1.25rem;
    background-color: currentColor;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .workless-menu-toggle span:nth-child(2) {
    width: 0.75rem;
  }

  #lineone-sidebar-toggle:checked ~ .workless-header .workless-menu-toggle span {
    width: 11px;
    margin-left: 0.5rem;
    translate: -0.5rem 0;
  }

  #lineone-sidebar-toggle:checked ~ .workless-header .workless-menu-toggle span:first-child {
    rotate: -45deg;
  }

  #lineone-sidebar-toggle:checked ~ .workless-header .workless-menu-toggle span:nth-child(2) {
    display: none;
  }

  #lineone-sidebar-toggle:checked ~ .workless-header .workless-menu-toggle span:nth-child(3) {
    rotate: 45deg;
  }

  @media (min-width: 48rem) {
    .workless-main-sidebar {
      translate: 0 0;
      z-index: 60;
    }

    .workless-sidebar-panel {
      transition-delay: 0ms;
    }

    .workless-header {
      width: calc(100% - var(--main-sidebar-width));
    }

    .workless-main-content {
      margin-left: var(--main-sidebar-width);
    }
  }

  @media (min-width: 80rem) {
    .workless-sidebar-panel {
      translate: 0 0;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }

    #lineone-sidebar-toggle:checked ~ .workless-sidebar-panel {
      translate: -100% 0;
      transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    }

    .workless-header {
      width: calc(100% - var(--main-sidebar-width) - var(--sidebar-panel-width));
    }

    #lineone-sidebar-toggle:checked ~ .workless-header {
      width: calc(100% - var(--main-sidebar-width));
    }

    .workless-main-content {
      margin-left: calc(var(--main-sidebar-width) + var(--sidebar-panel-width));
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }

    #lineone-sidebar-toggle:checked ~ .workless-main-content {
      margin-left: var(--main-sidebar-width);
      transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    }

    .workless-header-container,
    .workless-main-container {
      padding-inline: 1.5rem;
    }

    #lineone-sidebar-toggle:checked ~ .workless-header .workless-header-container,
    #lineone-sidebar-toggle:checked ~ .workless-main-content .workless-main-container {
      padding-inline: var(--margin-x);
    }

    #lineone-sidebar-toggle:not(:checked) ~ .workless-header .workless-menu-toggle span {
      width: 11px;
      margin-left: 0.5rem;
      translate: -0.5rem 0;
    }

    #lineone-sidebar-toggle:not(:checked) ~ .workless-header .workless-menu-toggle span:first-child {
      rotate: -45deg;
    }

    #lineone-sidebar-toggle:not(:checked) ~ .workless-header .workless-menu-toggle span:nth-child(2) {
      display: none;
    }

    #lineone-sidebar-toggle:not(:checked) ~ .workless-header .workless-menu-toggle span:nth-child(3) {
      rotate: 45deg;
    }

    #lineone-sidebar-toggle:checked ~ .workless-header .workless-menu-toggle span {
      width: 1.25rem;
      margin-left: 0;
      translate: 0 0;
      rotate: 0deg;
    }

    #lineone-sidebar-toggle:checked ~ .workless-header .workless-menu-toggle span:nth-child(2) {
      display: block;
      width: 0.75rem;
    }

    #lineone-sidebar-toggle:checked ~ .workless-header .workless-menu-toggle span:first-child,
    #lineone-sidebar-toggle:checked ~ .workless-header .workless-menu-toggle span:nth-child(3) {
      rotate: 0deg;
    }
  }

  .card {
    background-color: #fff;
    border-radius: var(--radius-lg);
    box-shadow: 0 3px 10px 0 rgb(48 46 56 / 0.06);
    color: #64748b;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    overflow-wrap: break-word;
    position: relative;
  }

  html.dark .card {
    background-color: var(--color-navy-700);
    box-shadow: none;
    color: var(--color-navy-200);
  }

  .btn {
    align-items: center;
    border-radius: var(--radius-lg);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    letter-spacing: var(--tracking-wide);
    padding: 0.5rem 1.25rem;
    text-align: center;
    text-decoration: none;
    transition:
      background-color 0.2s var(--default-transition-timing-function),
      border-color 0.2s var(--default-transition-timing-function),
      color 0.2s var(--default-transition-timing-function),
      opacity 0.2s var(--default-transition-timing-function);
  }

  .btn:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  .form-input,
  .form-checkbox,
  .form-checkbox::before {
    transition: all 0.2s var(--default-transition-timing-function);
  }

  .form-input {
    appearance: none;
    contain: paint;
    letter-spacing: var(--tracking-wide);
    outline: none;
    font-size: 0.875rem !important;
  }

  input.form-input:focus,
  input.form-input:focus-visible,
  textarea.form-input:focus,
  textarea.form-input:focus-visible,
  select.form-input:focus,
  select.form-input:focus-visible {
    --tw-ring-inset: initial !important;
    --tw-ring-offset-width: 0px !important;
    --tw-ring-offset-color: transparent !important;
    --tw-ring-offset-shadow: 0 0 #0000 !important;
    --tw-ring-color: transparent !important;
    --tw-ring-shadow: 0 0 #0000 !important;
    --tw-shadow: 0 0 #0000 !important;
    box-shadow: none !important;
    outline: none !important;
    outline-offset: 0 !important;
  }

  .form-input::placeholder {
    font-weight: 300;
  }

  .form-checkbox {
    --tw-ease: var(--default-transition-timing-function);
    background-color: transparent;
    background-image: none;
    border-style: solid;
    border-width: 1px;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    outline: none;
    overflow: hidden;
    position: relative;
    transition-timing-function: var(--tw-ease);
  }

  input.form-checkbox {
    background-color: transparent !important;
    background-image: none !important;
  }

  input.form-checkbox:focus,
  input.form-checkbox:focus-visible,
  input.form-checkbox:checked:focus,
  input.form-checkbox:checked:focus-visible {
    --tw-ring-inset: initial !important;
    --tw-ring-offset-width: 0px !important;
    --tw-ring-offset-color: transparent !important;
    --tw-ring-offset-shadow: 0 0 #0000 !important;
    --tw-ring-color: transparent !important;
    --tw-ring-shadow: 0 0 #0000 !important;
    --tw-shadow: 0 0 #0000 !important;
    box-shadow: none !important;
    outline: none !important;
    outline-offset: 0 !important;
  }

  .form-checkbox::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
    background-origin: border-box;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    height: 100%;
    inset: 0;
    opacity: 0;
    position: absolute;
    scale: 0 0;
    transform-origin: bottom;
    width: 100%;
  }

  .form-checkbox.is-basic {
    background-origin: border-box;
  }

  .form-checkbox:checked::before {
    opacity: 1;
    scale: 1 1;
  }

  @media (hover: hover) {
    .form-checkbox:hover {
      box-shadow:
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
  }
}
